* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  height: 100px;
}

nav {
  background-color: black;
  width: 100%;
}
nav #a1 {
  font-size: 1rem;
  margin-left: 100px;
  text-decoration: none;
  color: #F2594B;
  font-weight: 200;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s;
}
nav #a1:hover {
  color: #3c74a8;
  background-size: 100% 2px;
}

main {
  margin: 5px;
}

body {
  background-color: #3c74a8;
  overflow-x: hidden;
}

h1, h2 {
  color: white;
  padding: 15px;
}

footer {
  background-color: #F2811D;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 20px;
  width: 100%;
}
footer .logos img {
  width: 40px;
  height: auto;
}
footer input {
  margin: 10px;
}
footer textarea {
  margin: 10px;
}
footer .wrap-texto {
  color: white;
  width: 50%;
}
footer .derechos {
  text-align: left;
}
footer #nav_footer {
  list-style: none;
  background-color: #F2811D;
  text-align: right;
}

.imagen_principal {
  width: 100%;
}

.noticias_index {
  text-align: center;
}
.noticias_index .imagen_index {
  height: 30rem;
}
.noticias_index .h1_index {
  margin: 50px;
  text-align: center;
}

.imagen_index1 {
  height: 200px;
  width: 100%;
}

.h1_contacto {
  margin: 50px;
  text-align: center;
}

.formulario {
  align-items: center;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  margin-top: 30px;
}
.formulario input {
  margin: 5px;
}
.formulario .boton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #F2811D;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
}
.formulario .boton:hover {
  background: white;
}

.ubicacion {
  margin-bottom: 20px;
}

.h1_disciplinas {
  text-align: center;
  margin: 50px;
}

.disciplinas {
  margin: 0;
}
.disciplinas .imagen_disciplina2 {
  width: 100%;
  height: 450px;
}

.disciplinas_presentacion {
  display: flex;
  margin-bottom: 50px;
}
.disciplinas_presentacion .imagen_disciplina_pr {
  width: 100%;
  height: auto;
}

.texto_disciplina_pr {
  text-align: center;
  justify-content: right;
  font-size: 30px;
  margin: 50px;
}

#imagen_galeria {
  width: auto;
  height: auto;
  margin: 5px;
  justify-items: center;
}
#imagen_galeria .imagen_galeria1 {
  height: 350px;
  width: 100%;
}
#imagen_galeria .imagen_galeria2 {
  height: 500px;
  width: 100%;
  margin-top: 40px;
}
#imagen_galeria .imgHover {
  transition: all 2s;
  z-index: -1;
}
#imagen_galeria .imgHover:hover {
  filter: brightness(100%);
  transform: scale(1.1);
  z-index: 10;
  overflow: hidden;
  cursor: zoom-in;
  align-self: center;
}
#imagen_galeria .imgHover:click {
  filter: brightness(100%);
  transform: scale(1.1);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}
#imagen_galeria .imgHover:focus {
  filter: brightness(100%);
  transform: scale(1.1);
  z-index: 10;
  cursor: zoom-in;
  align-self: center;
}

.texto-galeria {
  text-align: center;
  font-size: 25px;
  color: black;
}

.nosotros_presentacion {
  display: flex;
  margin-bottom: 50px;
}
.nosotros_presentacion .imagen_nosotros2 {
  width: 100%;
  height: 400px;
}

.imagen_nosotros {
  width: 100%;
  height: 500px;
}

.h1_nosotros {
  margin: 50px;
  text-align: center;
}

.texto-error {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 14rem;
  overflow-y: hidden;
}
.texto-error .boton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #F2811D;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.texto-error .boton:hover {
  background: white;
}/*# sourceMappingURL=styles.css.map */