.h1_disciplinas{
    text-align: $centrado;
    margin: $m-50;
}

.disciplinas{
    margin: 0;
    .imagen_disciplina2{
        width: $w-100;
        height: 450px;
    }
}

.disciplinas_presentacion{
    display: map-get($flex ,flexible );
    margin-bottom: $m-50;
    .imagen_disciplina_pr{
        width: $w-100;
        height: auto;
    }
}

.texto_disciplina_pr{
    text-align: $centrado;
    justify-content: $derecha;
    font-size: 30px;
    margin: $m-50;
}